
.breadcrumb {
    background-color: inherit;
}

/*dropdown*/
.my-dropdown-item:hover, .my-dropdown-item:focus {
    background-color: #0069d9;
    color: white;
}

.my-dropdown-item {
    color: white;
}

.my-dropdown-button {
    border-radius: 5px !important;
}

.my-dropdown-dropleft {
    margin-left: 15px;
    margin-bottom: 15px;
}

/*hr*/
.bold-hr{
    border: none;
    height: 3px; 
    color: #333; /* old IE */
    background-color: #333; /* Modern Browsers */ 
}

/*profile name badge*/
.namesContainer {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background: #333;
    cursor: default;
    margin-left: 5px;
}

.namesText {
    width: 100%;
    text-align: center;
    color: white;
    font-size: 25px;
    line-height: 50px;
    font-family: "Helvetica", "serif"
}

.namesContainerSmall {
    width: 25px;
    height: 25px;
    border-radius: 50px;
    background: #333;
    cursor: default;
    margin-left: 5px;
    margin-right: 5px;
}
.namesTextSmall {
    width: 100%;
    text-align: center;
    color: white;
    font-size: 12px;
    line-height: 25px;
    font-family: "Helvetica", "serif"
}

.namesContainerSmaller {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background: #333;
    cursor: default;
    margin-left: 2px;
}

.namesTextSmaller {
    width: 100%;
    text-align: center;
    color: white;
    font-size: 10px;
    line-height: 20px;
    font-family: "Helvetica", "serif"
}