@page
@using Microsoft.AspNetCore.Mvc.Localization
@using ProgecDo.Localization
@using Volo.Abp.Users
@model ProgecDo.Web.Pages.IndexModel
@inject IHtmlLocalizer<ProgecDoResource> L
@inject ICurrentUser CurrentUser

@section styles
{
    <abp-style src="/Pages/Projects/Projects.css"/>
}

@section scripts
{
    <abp-script src="/Pages/Projects/Projects.js"/>
}

<div class="row" style="margin-bottom: 10px;">
    <div class="col d-flex justify-content-center">
        <h2>@L["YourProjects"]</h2>
    </div>
</div>
<div id="projectsComponentContainer">
    @await Component.InvokeAsync("Projects")

    @*     @if (await AuthorizationService.IsGrantedAsync(ProgecDoPermissions.Projects.Create)) *@
    @*     { *@
    <div id="newRow" class="row d-flex justify-content-center">
        <div class="col-8">
            <abp-card style="padding: 25px;">
                <abp-card-body>
                    <abp-row class="d-flex justify-content-center">
                        <abp-column size-md="_6" class="text-center">
                            <abp-button id="NewProjectButton"
                                        class="border-0 btn-lg"
                                        icon="plus"
                                        button-type="Outline_Success"
                                        class="btn-lg"/>
                            <p>@L["NewProject"].Value</p>
                        </abp-column>
                    </abp-row>
                </abp-card-body>
            </abp-card>
        </div>
    </div>
    @* } *@
</div>