@using Volo.Abp.AspNetCore.Mvc.UI.Theme.Shared.Components
@inject IBrandingProvider BrandingProvider
<a href="/">
  <img src="~/img/logo/logo2.png" width="200"  alt="brand logo"/>
</a>
@* <a class="navbar-brand" href="~/">@BrandingProvider.AppName  </a> *@ 